<header fxLayout="row"  fxLayoutAlign="space-between center">
  <div class="lis_logo_header"
       fxLayout="row"
       fxLayoutAlign="center center"
       fxLayout.xs.mobile="column"
       fxLayoutAlign.xs.mobile="center center">
    <a routerLink="/TopPage"><img alt="l.i.S Logo" src="../assets/img/lis_top/lis_logo/l.i.s.svg" class="lis_logo"></a>
  </div>

  <div class="lis_brand_logo_header">
    <img *ngIf="headerImage" alt="brand logo" [src]="headerImage" class="brand_logo">
  </div>

  <!-- 透明なダミー要素 -->
  <div class="dummy-logo">
    <img src="../assets/img/transparent.png" alt="Dummy" style="visibility: hidden;">
  </div>
</header>