  header {
    height: 100px;
    width: 100%;
  }

  .lis_logo_header {
    max-width: 1000px;
    width:100%
  }
  
  footer {
    height:149px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    width: 100%;
  }
  
  footer nav ul  {
    margin-left:0 auto ;
    margin-right:0 auto;
    margin-top: 40px;
    margin-bottom: 32px;
    padding-left: 0px;
    display:flex;
    justify-content: center;
    list-style:none;
  }
  
  footer nav ul li.navigation-items a, a[href]:hover {
    color: currentColor;
    text-decoration: none;
  }
  
  footer nav ul li.navigation-items {
    padding-left: 12px;
    padding-right: 12px;
    text-decoration: none;
    background-color: transparent;
    /* JP/Reg/14px */
  
    font-family: 'YuMincho';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */
  
    letter-spacing: 0.03em;
  
    /* color-primary */
  
    color: #231815;
  }
  footer .copy_right_text {
    /* L.I.S co.,ltd. All rights reserved. */
    margin: 0;
    padding-bottom: 32px;
    text-align: center;
    display: flex;
    justify-content: center;
  
    /* EN/Reg/16px */
  
    font-family: 'Cormorant Garamond-Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */
  
    letter-spacing: 0.08em;
  
    /* color-primary */
  
  color: #231815;
  }

  @media (max-width:768px){
    header {
      margin-bottom: 16px;
      height: 60px;
    }

    .lis_logo {
      height:17px
    }  

    footer nav ul  {
      margin-left:0 auto ;
      margin-right:0 auto;
      margin-top: 40px;
      margin-bottom: 8px;
      padding-left: 0px;
      display:flex;
      justify-content: center;
      list-style:none;
    }
    footer nav ul li.navigation-items{
      margin-bottom: 16px;
      /* JP/Reg/14px */
      font-family: 'YuMincho';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 150%;
      /* identical to box height, or 21px */

      text-align: center;
      letter-spacing: 0.03em;

      /* color-primary */

      color: #231815;
    }
  
    footer .copy_right_text {
      /* EN/Reg/14px */

      font-family: 'Cormorant Garamond-Regular';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      /* identical to box height, or 21px */

      text-align: center;
      letter-spacing: 0.03em;

      /* color-primary */

      color: #231815;
    }

  }
  
  