<header class="lis_logo_header">
    <a routerLink="/TopPage"><img alt="l.i.S Logo" src="../assets/img/l.i.s_header.png"/></a>
</header>
  <router-outlet></router-outlet>
<footer>
    <nav>
      <ul>
        <li class="navigation-items"><a routerLink="/about">会社情報</a></li>
        <li class="navigation-items"><a routerLink="/help">問い合わせ</a></li>
      </ul>
    </nav>
    <small class="copy_right_text">L.I.S co.,ltd. All rights reserved.</small>
    <!-- <img src='../assets/img/l.i.s_footer_pc.svg'> -->
</footer>