<div class="news_page_content" 
    fxLayout="column"
    fxLayoutAlign="start center">
    <div class="Top_img" fxFlex="100">
        <img src="../../assets/img/news/20210429/news_top.png" alt="top image">
    </div>
    
    <div class="news_date">
        <p>{{this.news_content.date}}</p>
    </div>

    <div class="news_title">
        <p>{{this.news_content.title}}</p>
    </div>

    <div class="news_detail">
        <p>
            {{this.news_content.detail}}
            <a *ngIf="this.news_content.url" href="{{this.news_content.url}}">こちら</a>
        </p>
    </div>
</div>

<div class="news_page_controller" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="40px">
    <a routerLink="{{this.news_content.next}}"><div class="next_news">← Next</div> </a>
    <a routerLink="{{this.news_content.before}}" ><div class="prev_news">Prev →</div></a>
</div>

    <div class="news_back" fxLayoutAlign="center">
        <a routerLink="/newslist"><p>Back</p> </a>
    </div>

