<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- header -->
<div class="content" role="main" fxLayout="column" fxLayoutAlign="start center">
  <header class="header" 
          role="banner"
          fxLayout="row"
          fxLayoutAlign="space-between center"
  >
    <div class="space"></div>
    <div class="drumohr_logo" fxLayoutAlign="center center"><a routerLink="/TopPage"><img src="../assets/drumohr_header/logo/drumohr_pc_logo.svg"></a></div>
    <div class="navigation" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="40px" >
      <div class="shop_navigation">SHOP</div>
      <div class="ecPage_navigation">ONLINE STORE</div>
    </div>
  </header>

  <div class="pagecomponent">
    <router-outlet></router-outlet>
  </div>


  <!-- Footer -->
  <footer fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="85px">
    <div class="footer_navigation" fxLayout="row" fxLayoutGap="100px" fxLayoutAlign="end start">
      <div class="footer_navigation_ec" fxLayout='column' fxLayoutGap='16px'>
        <a>SHOP</a>
        <a>ONLINE STORE <img src="../assets/img/logo/arrow.svg"></a>
        <a>CONTACT</a>
      </div>
      <div class="footer_navigation_company">
        運営情報
      </div>
      <div class="footer_navigation_insta" fxLayout="row" fxLayoutAlign="center start">
        <a href="https://www.instagram.com/drumohr_tokyo/" fxLayout='row' fxLayoutAlign='center center' fxLayoutGap="8px">
          <img src="../assets/img/logo/instagram.svg">
          <p>Instagram</p>
        </a>
      </div>
    </div>

    <div class="copy_rights" fxLayoutAlign="start start"  >
      <p>L.I.S co.,ltd. All rights reserved.</p>
    </div>
  </footer>

</div>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

