<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- header -->
<div class="content" role="main">
  <header class="header" 
          role="banner"
          gdAuto
          gdArea="space logo navi"
          gdColumns="calc((100% - 128px)/2) 128px calc((100% - 128px)/2) "
  >
    <div gdarea="space"></div>
    <div class="drumohr_logo" gdarea='logo' fxLayoutAlign="center center"><a routerLink="/TopPage"><img src="../assets/drumohr_header/logo/drumohr_pc_logo.svg"></a></div>
    <div class="navigation" gdarea="navigation" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="2.77%" >
      <div class="shop_navigation">SHOP</div>
      <div class="ecPage_navigation">ONLINE STORE</div>
    </div>
  </header>

  <div class="pagecomponent">
    <router-outlet></router-outlet>
  </div>


  <!-- Footer -->
  <footer>
    <div class="footer_navigation">
      <div class="footer_navigation_ec">
        <a>SHOP</a>
        <a>ONLINE STORE <img src="../assets/img/logo/arrow.svg"></a>
        <a>CONTACT</a>
      </div>
      <div class="footer_navigation_company">
        運営情報
      </div>
      <div class="footer_navigation_insta">
        <a href="https://www.instagram.com/drumohr_tokyo/">
          <img src="../assets/img/logo/instagram.svg">
          <p>Instagram</p>
        </a>
      </div>
    </div>

    <div class="copy_rights">
      L.I.S co.,ltd. All rights reserved.
    </div>
  </footer>

</div>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

