header {
    height: 100px;
    max-width: 1000px;
    width:100%;

    /* EN/Reg/16px */
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */

    display: flex;
    align-items: center;
    text-align: justify;
    letter-spacing: 0.08em;

    /* color-primary */

    color: #231815;

}

.header .space  {
    width:221px;
    height: 24px;
}

.header .navigation  {
    width:221px;
    height: 24px;
}

footer {
    max-width: 1000px;
    width: 100%;
    /* EN/Reg/14px */

    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */

    letter-spacing: 0.03em;

    /* color-primary */

    color: #231815;
}

a {
    
    text-decoration: none;
}
footer .footer_navigation {
    width:100%;
    max-width: 1000px;
    margin-top: 53px;
}

.footer_navigation_insta p{
    margin: 0;
}

footer .footer_navigation_company {
    /* JP/Reg/14px */
    font-family: 'YuMincho';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */

    letter-spacing: 0.03em;

    /* color-primary */

    color: #231815;
}

footer .copy_rights {
    width:100%;
    max-width: 1000px;
    margin-bottom:'38px'
}