<div class="about_company">
    <p class="info_title">会社情報</p>

    <dl class="companyInfo"
        fxLayout="row wrap"
        fxLayout.xs.mobile="column"
    >
        <dt fxFlex="53" fxLayout="row" fxLayoutAlign="end start" 
            fxFlex.xs.mobile=100 fxLayout.xs.mobile="column" fxLayoutAlign.xs.mobile="start center"
            >
            <p>社名</p>
        </dt>
        <dd fxFlex="47">
            <p>株式会社エル・アイ・エス</p>
        </dd>
        <dt fxFlex="53" fxLayout="row" fxLayoutAlign="end start" 
            fxFlex.xs.mobile=100 fxLayout.xs.mobile="column" fxLayoutAlign.xs.mobile="start center"
            >
            <p>本社所在地</p>
        </dt>
        <dd fxFlex="47">
            <p>〒150-0021 <br>
            東京都渋谷区恵比寿西2-17-16 代官山T・Kビル2F<br class="only_sp"> </p>
        </dd>
        <dt fxFlex="53" fxLayout="row" fxLayoutAlign="end start" 
            fxFlex.xs.mobile=100 fxLayout.xs.mobile="column" fxLayoutAlign.xs.mobile="start center"
            >
            <p>代表者</p>
        </dt>
        <dd fxFlex="47">
            <p>代表取締役　坂戸 典之</p>
        </dd>
        <dt fxFlex="53" fxLayout="row" fxLayoutAlign="end start" 
            fxFlex.xs.mobile=100 fxLayout.xs.mobile="column" fxLayoutAlign.xs.mobile="start center"
            >
            <p>設立</p>
        </dt>
        <dd fxFlex="47">
            <p>2008年1月</p>
        </dd>
        <dt fxFlex="53" fxLayout="row" fxLayoutAlign="end start" 
            fxFlex.xs.mobile=100 fxLayout.xs.mobile="column" fxLayoutAlign.xs.mobile="start center"
            >
            <p>資本金</p>
        </dt>
        <dd fxFlex="47">
            <p>5,000,000円</p>
        </dd>
        <dt fxFlex="53" fxLayout="row" fxLayoutAlign="end start" 
            fxFlex.xs.mobile=100 fxLayout.xs.mobile="column" fxLayoutAlign.xs.mobile="start center"
            >
            <p>事業内容</p>
        </dt>
        <dd fxFlex="47">
            <p>輸入衣料品の仲介、卸売業</p>
        </dd>
        </dl>
    
    <p class="info_title">代表挨拶</p>

    <dl class="companyInfo"
        fxLayout="'row wrap"
        fxLayout.xs.mobile="column"
    >
        <dt fxFlex="53" fxLayout="column" fxLayoutAlign="start center" fxFlex.xs.mobile=100 fxLayout.xs.mobile="column" fxLayoutAlign.xs.mobile="'start center">
            <div width=100% style="padding-right: 5%;max-height: 300px;margin-bottom: 5%;">
                <img  style="max-height:300px;" src="../../assets/img/man-img.png">
            </div>
            <div width="100%" fxlayout="row" fxLayoutAlign="center center">
                <div style="margin-right:8px"><a href=""><img src="../../assets/img/logo/instagram.svg" alt="sns link"></a></div>
                <div style="margin-left:0px"><a href=""><img src="../../assets/img/logo/instagram.svg" alt="sns link"></a></div>
            </div>
        </dt>
        <dd fxFlex="47">
            <p>
                親愛なるお客様へ、<br>
                私は「LIS」の創業者兼社長として、皆様に最高品質のファッションをお届けするために日々励んでいます。
                私たちのブランドは、創造性と独自性を大切にし、お客様一人ひとりの個性を引き立てる洗練されたデザインを追求しています。
                私たちの目標は、ファッションを通じて皆様のライフスタイルに新しい価値を加えることです。
                「LIS」の製品は、妥協のない品質、革新的なデザイン、そして最高の着心地を提供することを目指しています。
                私たちは、世界中の最良の素材を厳選し、高度な技術と熟練の職人技によって、一つ一つのアイテムを丁寧に作り上げています。
            </p>
            <p>
                お客様からのご愛顧とサポートが私たちの最大の原動力です。
                これからも、お客様に喜びと満足をお届けするために、私たちは革新を続け、常に業界をリードするブランドであり続けることをお約束します。
                皆様の日々の生活に彩りとインスピレーションをもたらすことができるよう、私たちは精進してまいります。
                心より感謝を込めて、今後とも「LIS」をよろしくお願いいたします。
            </p>
            <p>敬具</p>
        </dd>
    </dl>



    <p class="info_title">沿革</p>

    <dl class="companyInfo"
        fxLayout="row wrap"
        fxLayout.xs.mobile="column"
    >
    <dt fxFlex="53" fxLayout="row" fxLayoutAlign="end start" 
            fxFlex.xs.mobile=100 fxLayout.xs.mobile="column" fxLayoutAlign.xs.mobile="start center"
            >
            <p>2007年 1月</p>
    </dt>
    <dd fxFlex="47">
        <p>式会社 エル・アイ・エス 設立</p>
    </dd>
    <dt fxFlex="53" fxLayout="row" fxLayoutAlign="end start" 
            fxFlex.xs.mobile=100 fxLayout.xs.mobile="column" fxLayoutAlign.xs.mobile="start center"
            >
            <p>2007年</p>
        </dt>
        <dd fxFlex="47"><p>【GUY ROVER】 取扱い開始</p></dd>
    <dt fxFlex="53" fxLayout="row" fxLayoutAlign="end start" 
            fxFlex.xs.mobile=100 fxLayout.xs.mobile="column" fxLayoutAlign.xs.mobile="start center"
            >
            <p>2010年</p>
        </dt>
        <dd fxFlex="47"><p>【Drumohr】 取扱い開始</p></dd>
    <dt fxFlex="53" fxLayout="row" fxLayoutAlign="end start" 
            fxFlex.xs.mobile=100 fxLayout.xs.mobile="column" fxLayoutAlign.xs.mobile="start center"
            >
            <p>2011年</p>
        </dt>
        <dd fxFlex="47"><p>【Gianfranco Bommezadri / ernesto】 取扱い開始</p></dd>
    <dt fxFlex="53" fxLayout="row" fxLayoutAlign="end start" 
            fxFlex.xs.mobile=100 fxLayout.xs.mobile="column" fxLayoutAlign.xs.mobile="start center"
            >
            <p>2012年</p>
        </dt>
        <dd fxFlex="47"><p>【andrea's 1947】 取扱い開始</p></dd>
    <dt fxFlex="53" fxLayout="row" fxLayoutAlign="end start" 
            fxFlex.xs.mobile=100 fxLayout.xs.mobile="column" fxLayoutAlign.xs.mobile="start center"
            >
            <p>2013年</p>
        </dt>
        <dd fxFlex="47"><p>【Ciocca】 取扱い開始</p></dd>
    <dt fxFlex="53" fxLayout="row" fxLayoutAlign="end start" 
            fxFlex.xs.mobile=100 fxLayout.xs.mobile="column" fxLayoutAlign.xs.mobile="start center"
            >
            <p>2015年</p>
        </dt>
        <dd fxFlex="47"><p>【D'AMICO】 取扱い開始</p></dd>
    <dt fxFlex="53" fxLayout="row" fxLayoutAlign="end start" 
            fxFlex.xs.mobile=100 fxLayout.xs.mobile="column" fxLayoutAlign.xs.mobile="start center"
            >
            <p>2017年</p>
        </dt>
        <dd fxFlex="47"><p>【il mocassino】 取扱い開始</p></dd>
    <dt fxFlex="53" fxLayout="row" fxLayoutAlign="end start" 
            fxFlex.xs.mobile=100 fxLayout.xs.mobile="column" fxLayoutAlign.xs.mobile="start center"
            >
            <p>2018年</p>
        </dt>
        <dd fxFlex="47"><p>【RUFFO】 取扱い開始</p></dd>
    <dt fxFlex="53" fxLayout="row" fxLayoutAlign="end start" 
            fxFlex.xs.mobile=100 fxLayout.xs.mobile="column" fxLayoutAlign.xs.mobile="start center"
            >
            <p>2019年</p>
        </dt>
        <dd fxFlex="47"><p>【DEVORE】 取扱い開始</p></dd>
    <dt fxFlex="53" fxLayout="row" fxLayoutAlign="end start" 
            fxFlex.xs.mobile=100 fxLayout.xs.mobile="column" fxLayoutAlign.xs.mobile="start center"
            >
            <p>2020年</p>
        </dt>
        <dd fxFlex="47"><p>【STEFANO CAU】 取扱い開始</p></dd>
    <dt fxFlex="53" fxLayout="row" fxLayoutAlign="end start" 
            fxFlex.xs.mobile=100 fxLayout.xs.mobile="column" fxLayoutAlign.xs.mobile="start center"
            >
            <p>2021年</p>
        </dt>
        <dd fxFlex="47"><p>【l'impermeabi|le×RR】 取扱い開始</p></dd>
    <dt fxFlex="53" fxLayout="row" fxLayoutAlign="end start" 
            fxFlex.xs.mobile=100 fxLayout.xs.mobile="column" fxLayoutAlign.xs.mobile="start center"
            >
            <p>2022年</p>
        </dt>
        <dd fxFlex="47"><p>【SOZZI MILANO】 取扱い開始</p></dd>
    </dl>
</div>
