.shop_page {
    width: auto;
    max-width: 1000px;
    margin: 0 23px 0 25px;
}

.shop_title_block .shop_title_title{
    margin-bottom: 16px;
    /* EN/Reg/64pt */
    font-family: 'YuMincho';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 150%;
    /* identical to box height, or 96px */

    display: flex;
    align-items: center;
    text-align: justify;
    letter-spacing: 0.08em;

    /* color-primary */

    color: #231815;
}

.shop_title_block .shop_title_desc {
    margin-bottom: 100px;
    /* JP/Reg/14px */
    font-family: 'YuMincho';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */

    text-align: justify;
    letter-spacing: 0.03em;

    /* color-primary */

    color: #231815;
}

.shop_list {
    margin-bottom: 64px;
}

.shop_title_font {
    margin-bottom: 16px;
    /* JP/story/36px */
    font-family: 'YuMincho';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 200%;
    /* identical to box height, or 72px */

    text-align: justify;
    letter-spacing: 0.03em;

    /* color-primary */

    color: #231815;
}

.shop_desc_font {
    /* JP/Reg/14px */
    font-family: 'YuMincho';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    /* or 21px */

    text-align: justify;
    letter-spacing: 0.03em;

    /* color-primary */

    color: #231815;
}

.link_font {
    font-family: 'YuMincho';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    /* ボックスの高さと同一、または21px */

    text-align: justify;
    letter-spacing: 0.03em;
    text-decoration-line: underline;

    /* color-primary */

    color: #231815;
}

.phone_number a {
    text-decoration: none;
    color:#231815;
}
.margin_shop_desc{
    margin-bottom: 16px;
}

.shop_address {
    
}

.arrow {
    margin-left:3px
}

@media (max-width:768px) {
    .shop_title_block .shop_title_title{
        margin-bottom: 16px;
        /* EN/Reg/32px */

        font-family: 'Cormorant Garamond';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 150%;
        /* ボックスの高さと同一、または48px */

        display: flex;
        align-items: center;
        text-align: justify;
        letter-spacing: 0.08em;

        /* color-primary */

        color: #231815;
    }
    
    .shop_title_block .shop_title_desc {
        margin-bottom: 48px;
        /* JP/Reg/14px */
        font-family: 'YuMincho';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        /* identical to box height, or 21px */
    
        text-align: justify;
        letter-spacing: 0.03em;
    
        /* color-primary */
    
        color: #231815;
    }

    .shop_list {
        margin-bottom: 64px;
    }
    
    .shop_title_font {
        margin-bottom: 12px;
        /* JP/Story/18px */

        font-family: 'YuMincho';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 200%;
        /* ボックスの高さと同一、または36px */

        text-align: justify;
        letter-spacing: 0.03em;

        /* color-primary */

        color: #231815;

    }
    
    .shop_desc_font {
        /* JP/Reg/14px */

        font-family: 'YuMincho';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        /* または21px */

        text-align: justify;
        letter-spacing: 0.03em;

        /* color-primary */

        color: #231815;
    }
}