.newslist {
    max-width: 1040px;
    width: 100%;
    margin: 0 auto 0 auto;
}

.newslist_title {
    margin-bottom: 80px;
    /* EN/Reg/64pt */

    font-family: 'Cormorant Garamond-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 150%;
    /* identical to box height, or 96px */

    display: flex;
    align-items: center;
    text-align: justify;
    letter-spacing: 0.08em;

    /* color-primary */

    color: #231815;
}

.newslist_contents {
    max-width: 1040px;
    width: 100%;
}
mat-card{
    padding: 0;
    border-radius: 0px !important;
    box-shadow: none !important;
    margin-bottom: 64px ;
    margin-right: 40px;
}

mat-card a{
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
}

mat-card img{
    margin: 0 0 16px 0;
    width : 100%  ;
}

mat-card-subtitle{

    /* JP/Reg/14px */
    font-family: 'YuMincho';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    /* or 21px */

    letter-spacing: 0.03em;

    /* color-primary */

    color: #231815;
}

mat-card-content{
    /* JP/Reg/18px */

    font-family: 'YuMincho';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */


    /* color-primary */

    color: #231815;
}

@media (max-width:768px) {
    .news_description {
        margin-left: 16px;
        width: 56%;
    }
    .newslist_title{
    margin-bottom: 48px;
        /* EN/Reg/32px */

    font-family: 'Cormorant Garamond-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    /* identical to box height, or 48px */
    letter-spacing: 0.08em;

    /* color-primary */

    color: #231815;
    }

    mat-card{
        margin-right: 0;
        margin-bottom: 32px;
    }
    .img_div {
        width: 44%;
    }
    mat-card img {
        margin-bottom: 0;

    }

 

    mat-card-subtitle{
        margin-bottom: 8px !important; 
        /* JP/Reg/12px */

        font-family: 'YuMincho';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 150%;
        /* identical to box height, or 18px */

        letter-spacing: 0.03em;

        /* color-primary */

        color: #231815;
    }
    mat-card-content{
    margin-bottom: 0;
        /* JP/Reg/14px */

    font-family: 'YuMincho';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    /* or 21px */

    letter-spacing: 0.03em;

    /* color-primary */

    color: #231815;

    }
}