<div class="newslist"
    fxLayout="column"
    fxLayoutAlign="start start"

>
    <p class="newslist_title">NEWS</p>
    <div class="newslist_contents" 
        fxFlex="33"
        fxLayout="row wrap"
        fxLayoutAlign="flex-start"
        box-sizing="border-box"
        fxLayoutGap="40px"
        fxFlex.xs.mobile="100"
        fxLayout.xs.mobile="column"

        >
        <mat-card  *ngFor="let news of newsList;"
                   fxFlex="0 1 calc(33.3% - 40px)"  
                   fxLayout.xs.mobile="row"
                   fxFlex.xs.mobile="auto"
                   box-sizing="border-box"
        >
            <div  class="img_div" > <img mat-card-image  src={{news.img}}> </div>
            <div class="news_description"  >
                <mat-card-subtitle>{{news.news_date}}</mat-card-subtitle>
                <mat-card-content>{{news.title}}</mat-card-content>
            </div>
            <a href="{{news.ref}}"></a>

        </mat-card>
    </div>
    
</div>

