<div class="top_page" fxLayout="column" fxLayoutAlign="start center">
    <div class="top_img" [@fadeinAnimation]="{value:'hoge',params:{time:'2000ms 300ms'}}" fxLayoutAlign="center start">
        <img class="key_img" src="../../assets/img/drumohr_top_sp.svg" alt="drumohr knit">
        <img class="scroll_arrow" src="../../assets/scroll_arrow.svg" *ngIf="!(isMobileSize$ | async)" [@fadeinAnimation]="{value:'hoge',params:{time:'2000ms 300ms'}}">
    </div>
    <div class="drumohr_detail_text" [@fadeinAnimation]="{value:'hoge',params:{time:'2000ms 500ms'}}">
        <div class="text_h1">
            世界最古のニットブランド
        </div>
        
        <div class="text_blocks" 
            fxLayout="column" 
            fxLayoutAlign="start end"
            fxLayout.xs.mobile="row wrap" 
            fxLayoutAlign.xs.mobile="end end"  >
            <div class="text_block">
                Drumohr（ドルモア）は、1770年に、ジェームズ・パターソンの手により、<br>
                スコットランド・ダムフリーズの地で設立。<br>
                この地方の水はカルシウムが豊富に含まれており、毛糸の洗浄に最適の水質で、<br>
                この水を使って仕上げられたカシミアはとても柔らかい手触りであることから、<br>
                ドルモアはカシミアニットの紡績を得意としました。<br>

            </div>
            
            <div class="text_block">
                ジェームズ・パターソンのモノ作りへのこだわりと、<br>
                スコットランド式紡績への情熱は、<br>
                ジェームスの孫であるジェームズ・アレキサンダーロバートソンに受け継がれ、<br>
                伝統は未来へと継承されました。<br>
            </div>
            
            <div class="text_block">
                1880年代の初頭、ビジネスの拠点をダムフリースから、<br>
                約5マイルほど西に位置するロシュルットンの”ドルモア農場に”移し、<br>
                その土地の名前からブランド名を「ドルモア」に。<br>
            </div>
            
            <div class="text_block">
                250年近くにわたり上質なアイテムを展開する、世界最古のニットブラントとして確立していきました。<br>
            </div>
        </div>
    </div>
    <div class="drumohr_detail_img" >
        <div class="img_blocks"  fxLayout="column" fxLayoutAlign="end end" >
            <div class="img_block" style="max-width: 1000px;width: 100%;" fxFlexAlign='center' [@fadeinAnimation]="{value:'hoge',params:{time:'2000ms 700ms'}}">
                <img src="../../assets/img/image 7.png" alt="drumohr knit">
            </div>
            
            <div class="img_block" fxLayout="column" fxLayoutAlign="start end" [@fadeinAnimation]="{value:'hoge',params:{time:'2000ms 900ms'}}">
                <img src="../../assets/img/image 30.png" alt="drumohr knit">
            </div>            
        </div>
    </div>
    <div class="drumohr_detail_text" [@fadeinAnimation]="{value:'hoge',params:{time:'2000ms 1100ms'}}">
        <div class="text_h1">
            こだわりが生み出す最高の着心地
        </div>
        
        <div class="text_blocks" 
             fxLayout="column" 
             fxLayoutAlign="start end" 
             fxLayout.xs.mobile="row wrap">
            <div class="text_block">
                ドルモアの特徴は、徹底的にこだわったそのディテールにあります。<br>
                ひとつひとつのディティールや、上質な着心地を徹底的に追求した結果、<br>
                ドルモアは世界で初めてシームレスニットを考案。<br>
            </div>
            
            <div class="text_block">
                現代でも風合いが変わることなく、<br>
                どの商品を着ても素晴らしい着心地を提供してくれます。<br>
            </div>
            
            <div class="text_block">
                250年以上もの伝統は、最新のコレクションにも続々と受け継がれ、<br>
                現代においても、クラシックなテイストを崩すことなく、<br>
                今のトレンドを取り入れた新鮮なスタイルを数多く生み出しています。<br>
            </div>
        
        </div>
    </div>
    <div class="img_foot" fxLayout="row" fxLayout.xs.mobile="column" fxLayoutAlign="center start" [@fadeinAnimation]="{value:'hoge',params:{time:'2000ms 1200ms'}}">
        <img src="../../assets/img/image 24.png" alt="" fxFlex="50">
        <img src="../../assets/img/2022SS - Drumohr4846 1.png" alt="" fxFlex="50">
    </div>
</div>
    
