<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- header -->
<div class="content" role="main" fxLayout="column" fxLayoutAlign="start center" style="padding-bottom: 38px;">
  <header class="header" 
          role="banner"
          fxLayout="row"
          fxLayoutAlign="space-between center"
      >
      <div fxFlex="33" class="navigate_toggle" ><img *ngIf="isMobileSize$ | async" src="../assets/img/logo/toggle.png" (click)="sidenav.toggle()" ></div>
      <div class="drumohr_logo" fxLayoutAlign="center center" [ngSwitch]="(isMobileSize$|async)" fxFlex="34">
        <a routerLink="/TopPage">
          <img *ngSwitchCase="false" src="../assets/img/logo/guyrover_pc.svg">
          <img *ngSwitchCase="true" src="../assets/img/logo/guyrover_sp.svg">
        </a>
      </div>
      <div  fxFlex="33" class="navigation" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="40px">
          <div *ngIf="!(isMobileSize$ | async)" class="shop_navigation"><a routerLink="/ShopPage" (click)="elementItemClick()">取扱店舗</a></div>
          <div *ngIf="!(isMobileSize$ | async)" class="ecPage_navigation"><a href="https://guyrover.base.shop/" target="_blank" (click)="elementItemClick()">ONLINE STORE</a></div>
      </div>
    </header>
  <mat-sidenav-container [hasBackdrop]="true">
    <!-- sidenav part start -->
    <mat-sidenav mode="over" hidden #sidenav fxLayout="column" fxLayoutAlign="center">
      <div class="shop_navigation" fxLayoutAlign="center start" style="margin: 80px 0 20px 0 ;" (click)="elementItemClick()"><a routerLink="/ShopPage"  style="text-align: center;">取扱店舗</a></div>
      <div class="ecPage_navigation" fxLayoutAlign="center start" (click)="elementItemClick()"><a href="https://guyrover.base.shop/"  style="text-align: center;" target="_blank">ONLINE STORE</a></div>
    </mat-sidenav>
    
    <!-- header part end -->
    <!-- main content part included header mainContent footer -->
    <mat-sidenav-content [@fadeInOutAnimation]="(sidenav.opened)? 'opened':'hidden'" fxLayout="column" fxLayoutAlign="start center">
        <!--<div class="backdrop_fadeIn" id="fullOverLay" *ngIf="sidenav.opened"></div>-->
        <router-outlet></router-outlet>
        
        <!-- Footer -->
        <footer fxLayout="column" fxLayoutAlign="start center" fxLayoutAlign.xs.mobile="center center">
          <div class="footer_navigation" 
              fxLayout="row" 
              fxLayoutAlign="end start" 
              fxLayout.xs.mobile="column">

            <div class="footer_navigation_ec" fxLayout='column' fxLayoutGap='16px' fxLayout.xs.mobile="column" fxLayoutAlign.xs.mobile="start end">
              <div fxLayoutAlign="start start"><a routerLink="/ShopPage">取扱店舗</a></div>
              <div fxLayoutAlign="start start"><a href="https://guyrover.base.shop/"  style="text-align: center;" target="_blank">ONLINE STORE <img src="../assets/img/logo/arrow.svg"></a></div>
              <div fxLayoutAlign="start start"><a routerLink="/Conntact">CONTACT</a></div>
            </div>
            <div class="footer_navigation_company" fxLayoutAlign.xs.mobile="start end" fxLayout.xs.mobile="column">
              <div fxLayoutAlign="center start"> <a routerLink="/About">運営会社</a></div>
            </div>
            <div class="footer_navigation_insta" fxLayoutAlign.xs.mobile="center">
              <div fxLayoutAlign.xs.mobile="center center">
                <a href="https://instagram.com/guy_rover_japan_showroom" target="_blank" fxLayout='row' fxLayoutAlign='center center' fxLayoutGap="8px">
                  <img src="../assets/img/logo/instagram.svg">
                  <p>Instagram</p>
                </a>
              </div>
              
            </div>
          </div>

          <div class="copy_rights" >
            <span>L.I.S co.,ltd. All rights reserved.</span>
          </div>
        </footer>
    </mat-sidenav-content>
  
  </mat-sidenav-container>
</div>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

