/* You can add global styles to this file, and also import other style files */

html { 
   display: flexbox;
    
}

body {
    margin: 0 24px 0 24px;
    font-family: Roboto, "Helvetica Neue", sans-serif,'Cormorant Garamond-Regular','YuMincho'; 
    }


@font-face {
    font-family: 'Cormorant Garamond-Regular';
    src: url('./assets/fonts/Cormorant_Garamond/CormorantGaramond-Regular.ttf') format('truetype');
}

