<div fxLayout="column" fxLayoutAlign="start center">
    <div class="title">
        LINKS
    </div>
    <div class="banner-container">
      <a href="https://profile.ameba.jp/ameba/sakatonori/" class="desktop">
        <img src="../../assets/img/banner/ブログバナー (492 x 176 px).svg" class="banner-img" alt="ブログバナー">
      </a>
      <a href="https://www.instagram.com/nori.sakato/" class="desktop">
        <img src="../../assets/img/banner/インスタバナー (492 x 176 px).svg" class="banner-img" alt="インスタバナー">
      </a>
      <a href="https://profile.ameba.jp/ameba/sakatonori/" class="mobile">
        <img src="../../assets/img/banner/ブログバナー (559 x 148 px).svg" class="banner-img" alt="ブログバナー">
      </a>
      <a href="https://www.instagram.com/nori.sakato/" class="mobile">
        <img src="../../assets/img/banner/インスタバナー (559 x 148 px).svg" class="banner-img" alt="インスタバナー">
      </a>
    </div>
</div>
