<div class="news_page_content" 
    fxLayout="column"
    fxLayoutAlign="start center">
    <div class="Top_img" fxFlex="100">
        <img src={{news_inf.img}} alt="top image">
    </div>
    <div class="news_sup_title">
        {{news_inf.title}}
    </div>

    <div *ngFor="let news_content of this.news_list" class="news_list">
        <div class="news_date">
            <p>{{news_content.date}}</p>
        </div>

        <div class="news_detail">
            <p class="news_detail">
                ドルモアオンラインショップでは2025春夏の新作コレクションが入荷いたしました。
                今の季節に気持ちよく合わせられるミドルゲージ・ハイゲージのニットが揃っております。<br>
                衣替えをご検討いただいている方はぜひとも 【ドルモア オンラインショップ】にて商品をお探しください。
            </p>

            <p class="news_detail">
                またオンラインショップにて展開している商品以外にも以下の店舗ではドルモアの2025年春夏の商品を多く取り扱いしております。
                ご興味がございます方は以下の各店までお問い合わせください。
            </p>
            <p class="news_detail">
                皆様のご来店お待ち申し上げております。<br>
                ※店舗によっては展開していない商品があることをご了承ください。
            </p>
        </div>

        <div class="news_detail">
          ●阪急メンズ大阪 ドルモア<br>
          〒530-0017<br>
          大阪府大阪市北区角田町7番10号　阪急メンズ大阪4F<br>
          サードスタイル　ドルモア<br>
          電話　06-6361-1381<br>
          ※営業時間については、店舗にお問い合わせください。<br>
        </div>
        <div class="news_detail">
            ●伊勢丹メンズ館　ドルモア<br>
            東京都新宿区新宿3丁目14-1 伊勢丹メンズ館5F<br>
            ドルモア<br>
            電話　03-3352-1111<br>
            ※営業時間については、店舗にお問い合わせください。<br>
       </div>
        <hr>
    </div>
    
</div>

<div class="news_page_controller" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="40px">
    <a routerLink={{news_inf.next}}><div class="next_news">← Next</div> </a>
    <a routerLink={{news_inf.before}} ><div class="prev_news">Prev →</div></a>
</div>

    <div class="news_back" fxLayoutAlign="center">
        <a routerLink="/newslist"><p>Back</p> </a>
    </div>

