<div class="news_page_content" 
    fxLayout="column"
    fxLayoutAlign="start center">
    <div class="Top_img" fxFlex="100">
        <img src={{news_inf.img}} alt="top image">
    </div>
    <div class="news_sup_title">
        {{news_inf.title}}
    </div>

    <div *ngFor="let news_content of this.news_list" class="news_list">
        <div class="news_date">
            <p>{{news_content.date}}</p>
        </div>

        <div class="news_detail">            
            <p class="news_detail">
                ギ・ローバー オンラインショップでは2025年春夏の新作コレクションが入荷してまいりました。<br>
                ギローバーの春夏の定番である無地鹿の子の半袖ポロはもちろん、通年を通して人気のある長袖の前開き鹿の子シャツなど広く揃っております。
            </p>
            
            <p class="news_detail">
                また新生活を目前にドレスシャツを新調されたい方にも、ギローバーの定番ドレスシャツも多く取り揃えております。<br>
                ギローバーの代名詞とも言えるカッタウェイやセミワイド、ボダンダウン、タブカラーと多くの衿型が豊富にございます。
            </p>
            
            <p class="news_detail">
                季節も次第に冬から春に移りつつある今、中袖ものや先取りをして半袖ものをお探しの方はぜひギローバーオンラインショップにて商品をご確認ください。
            </p>
                   
        <hr>
    </div>
    
</div>

<div class="news_page_controller" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="40px">
    <a routerLink={{news_inf.next}}><div class="next_news">← Next</div> </a>
    <a routerLink={{news_inf.before}} ><div class="prev_news">Prev →</div></a>
</div>

    <div class="news_back" fxLayoutAlign="center">
        <a routerLink="/newslist"><p>Back</p> </a>
    </div>

