a {
    text-decoration: none;
}

.Top_img{
    margin-bottom: 40px;
    max-width: 1000px;
    width:100%;
    height: auto;
}

.Top_img img {
    width: 100%;
}

.news_list{
    max-width: 670px;
    width:67%;
    margin-bottom: 40px;
}

.news_date ,.news_title, .news_detail {
    width:100%;
}

.news_page_content{
    margin-bottom: 64px;
}

.news_sup_title {
    margin-bottom: 40px;
    max-width: 670px;
    width:67%;
    /* JP/Reg/20px */
    font-family: 'YuMincho';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 150%;
    /* or 30px */

    letter-spacing: 0.03em;

    /* color-primary */

    color: #231815;
}

.news_date {
    margin-bottom: 16px;
    /* JP/Reg/14px */

    font-family: 'YuMincho';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    /* or 21px */

    letter-spacing: 0.03em;

    /* color-primary */

    color: #231815;
}

.news_title{
    margin-bottom: 32px;
    /* JP/Reg/20px */

    font-family: 'YuMincho';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    /* or 30px */

    letter-spacing: 0.03em;

    /* color-primary */

    color: #231815;
}

.news_detail{
    padding-bottom: 20px;

    /* JP/Reg/14px */
    font-family: 'YuMincho';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    /* or 21px */

    letter-spacing: 0.03em;

    /* color-primary */

    color: #231815;
}

hr {
    height: 1px;
    background-color: #C8C8C8;
    border: none;
}

.news_detail p {
    margin: 0;
}

.news_page_controller {
    margin-bottom: 32px;
}

.prev_news{
    /* JP/Reg/20px */

    font-family: 'YuMincho';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    /* identical to box height, or 30px */

    letter-spacing: 0.03em;

    /* color-primary */

    color: #231815;
}

.next_news{
    /* JP/Reg/20px */

    font-family: 'YuMincho';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    /* identical to box height, or 30px */

    letter-spacing: 0.03em;

    /* color-primary */

    color: #231815;
}

.news_back {

    margin-bottom: 240px;
    font-family: 'YuMincho';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    /* identical to box height, or 30px */

    letter-spacing: 0.03em;
    text-decoration-line: underline;

    /* color-primary */

    color: #231815;

}


@media (max-width:768px) {
    .Top_img {
        width: 100vw;
        margin-top: -16px;
        margin-bottom: 24px;
    }

    .news_list{
        max-width: 670px;
        width:90%;
        margin-bottom: 40px;
    }

    .news_sup_title {
        margin-bottom: 20px;
        max-width: 670px;
        width:90%;
        /* JP/Reg/20px */
        font-family: 'YuMincho';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 150%;
        /* or 30px */
    
        letter-spacing: 0.03em;
    
        /* color-primary */
    
        color: #231815;
    }

    .news_date {
        margin-bottom: 16px;
        width: 100%;

        font-family: 'YuMincho';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        /* or 21px */

        letter-spacing: 0.03em;

        /* color-primary */

        color: #231815;
        
    }

    .news_title {
        margin-bottom: 24px;
        width: 100%;
        /* JP/Reg/20px */
        font-family: 'YuMincho';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        /* or 30px */

        letter-spacing: 0.03em;

        /* color-primary */

        color: #231815;
    }

    .news_detail{
        width: 100%;
        /* JP/Reg/14px */

        font-family: 'YuMincho';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        /* or 21px */

        letter-spacing: 0.03em;

        /* color-primary */

        color: #231815;
    }
    .news_back{
        margin-bottom: 64px;
        font-family: 'YuMincho';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 150%;
        /* identical to box height, or 30px */

        letter-spacing: 0.03em;
        text-decoration-line: underline;

        /* color-primary */

        color: #231815;
    }
    .next_news{
        /* JP/Reg/20px */
        font-family: 'YuMincho';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 150%;
        /* identical to box height, or 30px */

        letter-spacing: 0.03em;

        /* color-primary */

        color: #231815;
    }

    .prev_news{
        /* JP/Reg/20px */
        font-family: 'YuMincho';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 150%;
        /* identical to box height, or 30px */

        letter-spacing: 0.03em;

        /* color-primary */

        color: #231815;
    }
}