.title {
    margin-bottom: 16px;
}

/* the slides */
.news_item {
    margin: 0 ;
    width: 33% ;
}
/* the parent */
.news_list {
    box-sizing: border-box;
}


.news_list .news_text {
   max-width: 100%;
    /* JP/Reg/18px */
    font-family: 'YuMincho';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */
    /* color-primary */

    color: #231815;
}

.news_item .news_image {
    max-width: 100%;
    width: fit-content;
    object-fit:contain ;
    margin-bottom: 16px;
}

.news_item .news_date {
    width: 100%;
    margin-bottom: 16px;
    /* JP/Reg/14px */
    font-family: 'YuMincho';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    /* or 21px */

    letter-spacing: 0.03em;

    /* color-primary */

    color: #231815;
}

.news_link {
    margin: 0 auto;
    max-width: 1000px;
    padding-bottom: 200px;
}

.news_detail_link {
    margin-top: 32px;
    display: flex;
    justify-content: right;
    align-items:right ;
    
    text-decoration: none;
    background-color: transparent;


    font-family: 'YuMincho';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    /* identical to box height, or 30px */

    letter-spacing: 0.03em;
    text-decoration-line: underline;

    /* color-primary */

    color: #231815;
}