<div class="news_link" box-sizing="border-box" fxLayout="column">
    <div class="title">
        NEWS
    </div>
    <div [ngSwitch]="slides.length" >
        <div *ngSwitchCase="0">
            <span>there is no news</span>
        </div>
        <div *ngSwitchDefault
            class="news_list" 
            fxLayoutAlign="start start"
            fxLayoutGap="4%"
            fxLayout="row" 
            fxLayout.xs.mobile="column"
            fxLayout.xs="column"
            box-sizing="border-box"
        >
            <div *ngFor="let slide of this.slides;"  
                class="news_item"
                fxLayout="column"
                fxLayout.xs.mobile="row"
                fxFlexFill.xs.mobile
                fxFlex="33"
                fxFlex.xs.mobile="auto"
                box-sizing="border-box"
                fxLayoutAlign="start start">
                <a routerLink="{{slide.ref}}"
                fxFlex="34">
                    <img src="{{ slide.img }}" alt="" class="news_image">
                </a>
                <div class="news_description"
                    fxFlex.xs.mobile="66">
                    <p class="news_date">{{slide.date}}</p>
                    <p class="news_text">{{slide.title}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="news_detail_navigation"
        fxLayout="row"
        fxLayoutAlign="end center"
        fxLayout.xs.mobile="column"
        fxLayoutAlign.xs.mobile="center center"
        *ngIf="slides.length>1">
        <a  routerLink="/newslist" class="news_detail_link">View more</a>
    </div>
</div>