<div class="news_link" box-sizing="border-box">
    <div class="title"><img src="../../assets/img/lis_top/NEWS.png"></div>
        <div 
        class="news_list" 
        fxLayoutAlign="start start"
        fxLayoutGap="40px"
        fxLayout="row" 
        fxLayout.xs="column"
        box-sizing="border-box"
        >
            <div *ngFor="let slide of slides;"  class="news_item">
                <a href="{{slide.ref}}">
                    <img src="{{ slide.img }}" alt="" class="news_image">
                </a>
                <p class="news_date">{{slide.news_date}}</p>
                <p class="news_text">{{slide.text}}</p>
            </div>
        </div>
    <a routerLink="/newslist" class="news_detail_link"><u>View more</u></a>

</div>