<div class="news_page_content" 
    fxLayout="column"
    fxLayoutAlign="start center">
    <div class="Top_img" fxFlex="100">
        <img src="../../assets/img/news/20210429/news_top.png" alt="top image">
    </div>
    
    <div class="news_date">
        <p>{{news_conf.date}}</p>
    </div>

    <div class="news_title">
        <p>{{news_conf.title}}</p>
    </div>

    <div class="news_detail">
        <p [innerHTML]="news_conf.detail"></p>
    </div>
</div>

<div class="news_page_controller" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="40px">
    <a routerLink="{{news_conf.next}}"><div class="next_news">← Next</div> </a>
    <a routerLink="{{news_conf.before}}" ><div class="prev_news">Prev →</div></a>
</div>

    <div class="news_back" fxLayoutAlign="center">
        <a routerLink="/newslist"><p>Back</p> </a>
    </div>

