<div class="top_page" fxLayout="column" fxLayoutAlign="start center">
    <div class="top_img"  [@fadeinAnimation]="{value:'hoge',params:{time:'2000ms 300ms'}}" fxLayoutAlign="center start">
        <img class='key_img' src="../../../assets/img/brands/ernesto/main_key_img.png" alt="brand shirt" >
        <img class="scroll_arrow" src="../../../assets/img/brands/ernesto/scroll_arrow.svg"  *ngIf="!(isMobileSize$ | async)" [@fadeinAnimation]="{value:'hoge',params:{time:'2000ms 300ms'}}">
    </div>
    <div class="brand_detail_text" [@fadeinAnimation]="{value:'hoge',params:{time:'2000ms 500ms'}}">
        <div class="text_h1">
            遊びの効いたリラックス仕立て
        </div>
        
        <div class="text_blocks" 
            fxLayout="column" 
            fxLayoutAlign="start end"
            fxLayout.xs.mobile="row wrap" 
            fxLayoutAlign.xs.mobile="end end" >
            <div class="text_block">
                ernesto（エルネスト）は、スペイン東部パルマの老舗ファクトリーブランド<br>
                「ジャンフランコ・ボンメッザードリ社」が手掛けるブランド。
            </div>
            
            <div class="text_block">
                2012年にジャンフランコの娘婿であるエンリコ・メッツァードリと、<br>
                イタリア・リミニのショップオーナー、ヴィンツェンツォが、<br>
                「遊びの効いたジャケットを作ろう」とスタートしました。<br>
                オスカー・ワイルドの喜劇作品『エルネスト』の、その遊びに富んだ内容がブランドの名前の由来。
            </div>
            
            <div class="text_block">
                本格的なサルトリア仕立ての技術で、コンフォータブルでとても軽い進化したジャケットを作りだし、<br>
                裏地・芯地・肩パッドなどをなくした、ソフトでリラックスした仕立てが特徴。
            </div>

            <div class="text_block">
                カーディガンのように着心地のいいジャケットは、<br>
                コンフォータブルでありながら立体的に身体のラインを美しく見せる一枚仕立てで、<br>
                正統派イタリアンクラシックを極めたジャンフランコ・ボメザドリ社だからこその技術。
            </div>

            <div class="text_block">
                2018年よりレディースのコレクションにデザイナーを入れ、<br>
                メンズコレクションの生地を用いながら 、コーディネート提案型のコレクションを作り出しています。
            </div>
        </div>
    </div>
    <div class="brand_detail_img" >
        <div class="img_blocks"  fxLayout="column" fxLayoutAlign="end end">
            <div class="img_block"  fxFlexAlign='center' [@fadeinAnimation]="{value:'hoge',params:{time:'2000ms 700ms'}}">
                <img width="100%" src="../../../assets/img/brands/ernesto/main_upper_img.png" alt="brand shirt">
            </div>
            
            <div class="img_block" fxLayout="column" fxLayoutAlign="start end" [@fadeinAnimation]="{value:'hoge',params:{time:'2000ms 900ms'}}">
                <img width="100%" src="../../../assets/img/brands/ernesto/main_lower_img.png" alt="brand shurt">
            </div>            
        </div>
    </div>   
    <div class="img_foot" fxLayout="row" fxLayout.xs.mobile="column" fxLayoutAlign="center start" [ngSwitch]="(isMobileSize$|async)" [@fadeinAnimation]="{value:'hoge',params:{time:'2000ms 1200ms'}}">
        <img *ngSwitchCase="false" src="../../../assets/img/brands/ernesto/main_footer.png" alt="">
        <img *ngSwitchCase="true" src="../../../assets/img/brands/ernesto/sp/main_footer.png" alt="">
    </div>
</div>
    
