<div class="about_company">
    <p class="info_title">会社情報</p>

    <dl class="companyInfo"
        fxLayout="row wrap"
        fxLayout.xs.mobile="column"
    >
        <dt fxFlex="53" fxLayout="row" fxLayoutAlign="end start" 
            fxFlex.xs.mobile=100 fxLayout.xs.mobile="column" fxLayoutAlign.xs.mobile="start center"
            >
            <p>社名</p>
        </dt>
        <dd fxFlex="47">
            <p><a href="google.com">株式会社エル・アイ・エス</a> <img src="../../assets/img/logo/arrow.svg" style="margin-left: 8px;"></p>
        </dd>
        <dt fxFlex="53" fxLayout="row" fxLayoutAlign="end start" 
            fxFlex.xs.mobile=100 fxLayout.xs.mobile="column" fxLayoutAlign.xs.mobile="start center"
            >
            <p>本社所在地</p>
        </dt>
        <dd fxFlex="47">
            <p>〒150-0021 <br>
            東京都渋谷区恵比寿西2-17-16 代官山T・Kビル2F<br class="only_sp"> </p>
        </dd>
        <dt fxFlex="53" fxLayout="row" fxLayoutAlign="end start" 
            fxFlex.xs.mobile=100 fxLayout.xs.mobile="column" fxLayoutAlign.xs.mobile="start center"
            >
            <p>代表者</p>
        </dt>
        <dd fxFlex="47">
            <p>代表取締役　坂戸 典之</p>
        </dd>
        <dt fxFlex="53" fxLayout="row" fxLayoutAlign="end start" 
            fxFlex.xs.mobile=100 fxLayout.xs.mobile="column" fxLayoutAlign.xs.mobile="start center"
            >
            <p>設立</p>
        </dt>
        <dd fxFlex="47">
            <p>2008年1月</p>
        </dd>
        <dt fxFlex="53" fxLayout="row" fxLayoutAlign="end start" 
            fxFlex.xs.mobile=100 fxLayout.xs.mobile="column" fxLayoutAlign.xs.mobile="start center"
            >
            <p>資本金</p>
        </dt>
        <dd fxFlex="47">
            <p>5,000,000円</p>
        </dd>
        <dt fxFlex="53" fxLayout="row" fxLayoutAlign="end start" 
            fxFlex.xs.mobile=100 fxLayout.xs.mobile="column" fxLayoutAlign.xs.mobile="start center"
            >
            <p>事業内容</p>
        </dt>
        <dd fxFlex="47">
            <p>輸入衣料品の仲介、卸売業</p>
        </dd>
        </dl>
</div>
